In [17]:
import pandas as pd

# Load the preprocessed dataset
df = pd.read_parquet('datasets/_dataset.parquet')  # Adjust path if needed

In [25]:
# Display the first few rows to verify
print("First few rows of the dataset:")
df.head()

First few rows of the dataset:

,TableId,Year,Quarter,OriginCityMarketId,DestinationCityMarketId,OriginCity,DestinationCity,OriginAirportId,DestinationAirportId,OriginAirportCode,...,AverageFare,LargestCarrierCode,LargestCarrierMarketShare,LargestCarrierAverageFare,LowestFareCarrierCode,LowestFareMarketShare,LowestFare,OriginCityCoordinates,DestinationCityCoordinates,RouteId
0,Table 1a,2010,1,34614,33195,"Salt Lake City, UT","Tampa, FL (Metropolitan Area)",14869,15304,SLC,...,226.59,DL,0.38,247.69,US,0.20,166.99,"Salt Lake City, UT\n(40.758478, -111.888142)","Tampa, FL (Metropolitan Area)\n(37.8606, -78.8...",201011486915304SLCTPA
1,Table 1a,1998,4,30189,31703,"Colorado Springs, CO","New York City, NY (Metropolitan Area)",11109,12197,COS,...,280.39,UA,0.73,292.60,NW,0.24,248.27,"Colorado Springs, CO\n(38.835224, -104.819798)","New York City, NY (Metropolitan Area)\n(40.123...",199841110912197COSHPN
2,Table 1a,1998,4,30198,30852,"Pittsburgh, PA","Washington, DC (Metropolitan Area)",14122,10821,PIT,...,239.12,US,0.93,245.70,CO,0.03,71.30,"Pittsburgh, PA\n(40.442169, -79.994945)","Washington, DC (Metropolitan Area)\n(38.892062...",199841412210821PITBWI
3,Table 1a,2009,3,32211,32575,"Las Vegas, NV","Los Angeles, CA (Metropolitan Area)",12889,14908,LAS,...,111.74,WN,0.58,118.28,US,0.41,102.75,"Las Vegas, NV\n(36.169202, -115.140597)","Los Angeles, CA (Metropolitan Area)\n(34.05223...",200931288914908LASSNA
4,Table 1a,1993,4,30255,30852,"Huntsville, AL","Washington, DC (Metropolitan Area)",12217,12264,HSV,...,242.76,DL,0.48,275.50,UA,0.25,197.69,"Huntsville, AL\n(34.729538, -86.585283)","Washington, DC (Metropolitan Area)\n(38.892062...",199341221712264HSVIAD

In [19]:
# Get descriptive statistics for numeric columns
print("\nDescriptive statistics for numeric columns:")
df.describe()

Descriptive statistics for numeric columns:

,Year,Quarter,OriginCityMarketId,DestinationCityMarketId,OriginAirportId,DestinationAirportId,RouteDistanceInMiles,PassengerCount,AverageFare,LargestCarrierMarketShare,LargestCarrierAverageFare,LowestFareMarketShare,LowestFare
count,205189.000000,205189.000000,205189.000000,205189.000000,205189.000000,205189.000000,205189.000000,205189.000000,205189.000000,205189.00000,205189.000000,205189.000000,205189.000000
mean,2006.203344,2.453821,31557.506255,32179.255686,12442.147869,13253.934041,1187.950392,292.772936,215.817393,0.65732,216.240639,0.437262,188.975523
std,7.357540,1.114433,1087.876837,1230.573397,1434.010417,1426.996038,705.472703,498.710148,79.491791,0.22495,84.577098,0.329797,73.010497
min,1993.000000,1.000000,30135.000000,30189.000000,10135.000000,10466.000000,109.000000,0.000000,50.000000,0.10000,50.000000,0.010000,50.000000
25%,2000.000000,1.000000,30721.000000,31057.000000,11193.000000,12197.000000,625.000000,21.000000,161.900000,0.47620,158.860000,0.150000,139.230000
50%,2006.000000,2.000000,31423.000000,32211.000000,12339.000000,13303.000000,1020.000000,111.000000,206.810000,0.65000,205.450000,0.340000,179.510000
75%,2012.000000,3.000000,32467.000000,33192.000000,13487.000000,14679.000000,1736.000000,332.000000,260.130000,0.86000,261.200000,0.729700,227.470000
max,2020.000000,4.000000,35412.000000,35412.000000,16440.000000,15919.000000,2724.000000,8023.000000,3377.000000,1.00000,2725.600000,1.000000,2725.600000

In [20]:
# Get descriptive statistics for categorical columns
print("\nDescriptive statistics for categorical columns:")
df.describe(include=['object'])

Descriptive statistics for categorical columns:

,TableId,OriginCity,DestinationCity,OriginAirportCode,DestinationAirportCode,LargestCarrierCode,LowestFareCarrierCode,OriginCityCoordinates,DestinationCityCoordinates,RouteId
count,205189,205189,205189,205189,205189,205189,205189,205189,205189,205189
unique,2,136,121,178,163,65,69,238,207,205189
top,Table 1a,"Los Angeles, CA (Metropolitan Area)","New York City, NY (Metropolitan Area)",ORD,BWI,WN,WN,"Los Angeles, CA (Metropolitan Area)\n(34.05223...","New York City, NY (Metropolitan Area)\n(40.123...",201011486915304SLCTPA
freq,199342,21527,31247,7384,8623,45523,40663,20859,30442,1